<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: head}"></th:block>
</head>
<body>
<div id="wrapper">
    <th:block th:replace="~{fragments/sidebar :: sidebar}"></th:block>
    <div id="page-wrapper" class="gray-bg">
        <th:block th:replace="~{fragments/filter :: filter}"></th:block>
        <th:block th:replace="~{admin/thongke/satistical :: satistical}"></th:block>
        <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    </div>
</div>
<script th:src="@{/js/plugin-scripts.js}"></script>
</body>
</html>


