<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
<div class="wrapper wrapper-content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                 <div class="ibox-title">
                <h5>Thêm Nhân Viên</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" id="employeeForm">
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="form-group">
                                            <label>Email <span style="color: red">*</span></label>
                                            <input type="email" class="form-control" id="email" placeholder="Nhập email"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Họ <span style="color: red">*</span></label>
                                            <input type="text" class="form-control" id="firstName" placeholder="Nhập họ"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Tên Đệm</label>
                                            <input type="text" class="form-control" id="midName" placeholder="Nhập tên đệm"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Tên <span style="color: red">*</span></label>
                                            <input type="text" class="form-control" id="name" placeholder="Nhập tên"/>
                                        </div>
                                        <div class="form-group">
                                            <!--                      <label>Số Điện Thoại <span style="color: red">*</span></label>-->
                                            <input type="text" class="form-control" id="sdt" placeholder="Nhập số điện thoại"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Ngày Sinh <span style="color: red">*</span></label>
                                            <input type="date" class="form-control" id="dob"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Mật khẩu <span style="color: red">*</span></label>
                                            <input type="password" class="form-control" id="password" placeholder="Nhập mật khẩu"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Vị trí công việc <span style="color: red">*</span></label>
                                            <select class="form-control" id="position">
                                                <option value="">Chọn vị trí</option>
                                                <option value="1">Admin</option>
                                                <option value="2">Nhân viên</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Trạng Thái <span style="color: red">*</span></label>
                                            <select class="form-control" id="trangThai">
                                                <option value="">Chọn trạng thái</option>
                                                <option value="1">Hoạt động</option>
                                                <option value="0">Không hoạt động</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Giới Tính <span style="color: red">*</span></label>
                                            <select class="form-control" id="gender">
                                                <option value="">Chọn giới tính</option>
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12 text-right">
                                                <a th:href="@{/admin/nhanvien/list}" class="btn btn-white">Hủy</a>
                                                <button type="button" class="btn btn-primary btn-create-promotion">Thêm</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        // Hide validation feedback initially
        $('.invalid-feedback').hide();

        $('.btn-create-promotion').click(function () {
            let email = $('#email').val();
            let sdt = $('#sdt').val();
            let name = $('#name').val();
            let midName = $('#midName').val();
            let dob = $('#dob').val();
            let position = $('#position').val();
            let password = $('#password').val();
            let status = $('#trangThai').val();
            let gender = $('#gender').val();
            let firstName = $('#firstName').val();
            let islValid = true;

            let emailRegex = /^[\w.-]+@([\w-]+\.)+[\w-]{2,4}$/;
            if (!email || !emailRegex.test(email)) {
                $('#invalid-feedback-email').show();
                isValid = false;
            } else {
                $('#invalid-feedback-email').hide();
            }

            let phoneRegex = /^0\d{9}$/;
            if (!sdt || !phoneRegex.test(sdt)) {
                $('#invalid-feedback-sdt').show();
                isValid = false;
            } else {
                $('#invalid-feedback-sdt').hide();
            }

            if (!firstName) {
                $('#invalid-feedback-firstName').show();
                isValid = false;
            } else {
                $('#invalid-feedback-firstName').hide();
            }

            if (!name) {
                $('#invalid-feedback-name').show();
                isValid = false;
            } else {
                $('#invalid-feedback-name').hide();
            }

            if (!dob) {
                $('#invalid-feedback-dob').show();
                isValid = false;
            } else {
                $('#invalid-feedback-dob').hide();
            }

            if (!password) {
                $('#invalid-feedback-password').show();
                isValid = false;
            } else {
                $('#invalid-feedback-password').hide();
            }

            if (!position) {
                $('#invalid-feedback-position').show();
                isValid = false;
            } else {
                $('#invalid-feedback-position').hide();
            }

            if (!status) {
                $('#invalid-feedback-trangThai').show();
                isValid = false;
            } else {
                $('#invalid-feedback-trangThai').hide();
            }

            if (!gender) {
                $('#invalid-feedback-gender').show();
                isValid = false;
            } else {
                $('#invalid-feedback-gender').hide();
            }

            if (isValid) {
                let req = {
                    email: email,
                    sdt: sdt,
                    name: name,
                    midName: midName,
                    dob: dob,
                    role: position,
                    password: password,
                    status: status,
                    firstName: firstName,
                    gender: gender
                };
                const myJSON = JSON.stringify(req);
                $.ajax({
                    url: '/admin/nhanvien/create',
                    type: 'POST',
                    contentType: 'application/json',
                    data: myJSON,
                    success: function (data) {
                        toastr.success("Tạo nhân viên thành công");
                        console.log(data + 'data')
                        setTimeout(function () {
                            location.href = "/admin/nhanvien/list";
                        }, 1000);
                    },
                    error: function (error) {
                        toastr.error(error.responseJSON.message || "Tạo nhân viên thất bại");
                    }
                });
            }
        });
    });
</script>

</body>
</html>