<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="wrapper wrapper-content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh Sách Khách Hàng</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content"
                     style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="col-md-4 pull-left">
                        <form class="pull-left" method="GET" action="#" style="display: flex;">
                            <input type="text" placeholder="Nhập từ khóa tìm kiếm" class="form-control">
                            <button class="btn btn-outline btn-success dim m-l " type="button"><i
                                    class="fa fa-search"></i></button>
                        </form>
                        <button class="btn btn-outline btn-primary dim" type="button"><i
                                class="fa fa-repeat"></i></button>
                    </div>

                    <a class="btn btn-primary btn-rounded" th:href="@{/admin/khachhang/create}"><i class="fa fa-plus"></i>
                        Thêm Nhân
                        Viên </a>

                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>SĐT</th>
                            <th>Địa Chỉ</th>
                            <th>Ngày Sinh</th>
                            <th>Giới Tính</th>
                            <th>Trạng Thái</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${list}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.ho + ' ' + item.tenDem + ' ' + item.ten}"></td>
                            <td th:text="${item.email}"></td>
                            <td th:text="${item.vaiTro}"></td>
                            <td th:text="${item.sdt}"></td>
                            <td th:text="${item.address}"></td>
                            <td th:text="${item.ngaySinh}"></td>
                            <td th:text="${item.gioiTinh == 0 ? 'Nam' : 'Nữ'}"></td>
                            <td th:switch="${item.trangThai}">
                                <span th:case="0" class="badge badge-primary">Hoạt Động</span>
                                <span th:case="1" class="badge badge-danger">Ngừng</span>
                            </td>
                            <td>
                                <a  class="btn btn-success  dim" th:href="@{/admin/khachhang/{id}(id=${item.id})}" type="button"><i
                                        class="fa fa-eye"></i></a>
                                <a  class="btn btn-danger  dim " type="button"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>

