<!DOCTYPE html>
<html layout:decorate="~{admin/layout}" lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div class="wrapper wrapper-content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh Sách Nhân Viên</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>

                    </div>
                </div>
                <div class="ibox-content"
                     style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="col-md-4 pull-left">
                        <form class="pull-left" method="GET" action="#" style="display: flex;">
                            <input type="text" placeholder="Nhập từ khóa tìm kiếm" class="form-control">
                            <button class="btn btn-outline btn-success dim m-l " type="button"><i
                                    class="fa fa-search"></i></button>
                        </form>
                        <button class="btn btn-outline btn-primary dim" type="button"><i
                                class="fa fa-repeat"></i></button>
                    </div>

                    <a class="btn btn-primary btn-rounded" th:href="@{/admin/nhanvien/create}"><i class="fa fa-plus"></i>
                        Thêm Nhân
                        Viên </a>

                </div>
                <div class="ibox-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Giới Tính</th>
                            <th>SĐT</th>
                            <th>Trạng Thái</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${list}">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.ho + ' ' + item.tenDem + ' ' + item.ten}"></td>
                            <td th:text="${item.email}"></td>
                            <td th:text="${item.vaiTro== 0 ? 'Admin' : 'Staff'}"></td>
                            <td th:text="${item.gioiTinh == 0 ? 'Nam' : 'Nữ'}"></td>
                            <td th:text="${item.sdt}"></td>
                            <td th:switch="${item.trangThai}">
                                <span th:case="0" class="badge badge-primary">Hoạt Động</span>
                                <span th:case="1" class="badge badge-danger">Ngừng</span>
                            </td>
                            <td>
								<button class="btn btn-success dim btn-view" type="button" id="btn-delete"
										th:attr="data-href=@{/admin/nhanvien/{id}(id=${item.id})}">
									<i class="fa fa-eye"></i>
								</button>

							<button class="btn btn-danger dim btn-delete" type="button"
										th:attr="data-id=${item.id}">
									<i class="fa fa-trash-o"></i>
								</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal in" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-laptop modal-icon"></i>
                    <h4 class="modal-title">Xác nhận thông tin</h4>
                    <small class="font-bold">Bạn có chắc chắn muốn xóa nhân viên?</small>
                </div>
                <div class="modal-body">
                    <p><strong>Mọi thông tin nhân viên</strong> sẽ được xóa khi bạn bấm "Xác Nhận Xóa".</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="confirmButton">Xác Nhận Xóa</button>
                </div>
            </div>
        </div>
    </div>
<script >
    $(function () {
        // Lắng nghe click trên mọi .btn-view nằm trong <tbody>
        $('tbody').on('click', '.btn-view', function () {
            const url = $(this).data('href');   // lấy giá trị data-href
            console.log('View URL:', url);      // kiểm tra trên console
        });
    });
</script>
<script th:inline="javascript">
    let deleteId = null;

    document.getElementById('btn-delete').addEventListener('click', function () {
        $('#myModal').modal('show');
    });
    // $(document).ready(function () {
    //     // Bắt sự kiện click nút Xóa
    //     $('.btn-delete').click(function () {
    //         deleteId = $(this).data('id');
    //         $('#myModal').modal('show');
    //     });
    //
    //     // Khi người dùng xác nhận xóa
    //     $('#confirmButton').click(function () {
    //         if (deleteId) {
    //             $.ajax({
    //                 url: '/admin/nhanvien/delete/' + deleteId,
    //                 type: 'DELETE',
    //                 success: function (response) {
    //                     // Ẩn modal
    //                     $('#myModal').modal('hide');
    //
    //                     // Xóa dòng tương ứng khỏi bảng
    //                     $('button[data-id="' + deleteId + '"]').closest('tr').remove();
    //
    //                     // Reset lại deleteId
    //                     deleteId = null;
    //                 },
    //                 error: function (xhr, status, error) {
    //                     alert("Xảy ra lỗi khi xóa nhân viên.");
    //                 }
    //             });
    //         }
    //     });
    // });
</script>
</div>
</body>
</html>

